{% extends 'base.html'%}
{%block title%} Home {%endblock title%}
{% block homeactive %} active {% endblock homeactive%}
{%block body%}
<div class="container my-4">
<div class="jumbotron">
  <h1 class="display-4">Welcome to Sandblog</h1>
  <p class="lead">Share your story with the world. Create a beautiful, personalized blog that fits your brand. Grow your audience with built-in marketing tools, or transform your passion into revenue by gating access with a paywall.</p>
  <a class="btn btn-primary btn-lg" href="/blog" role="button">BLogs</a>
</div>
  </div>
<div class="container my-4">
  <h3>Trending Blogs</h3>

      <div class="row g-0 border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>
          <h3 class="mb-0">Featured post</h3>
          <div class="mb-1 text-body-secondary">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue reading
            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
      </div>

  </div>
{%endblock body%}