{% extends 'base.html' %}


{% block title %} Search {% endblock %}
{% block blogactive %} active {% endblock blogactive%}
{% block body %}
<div class="container my-4">
  <h3>Related Search:</h3>
  {% if allposts|length < 1 %}
  <h4>No search Results</h4>
  your search - <b>{{query}}</b> Did not match
  any blog suggestions: <br>
  Please try with correct title <br>
  {% endif %}

{% for post in allposts %}
      <div class="row g-0 border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">{{post.category}}</strong>
          <h3 class="mb-0">{{post.title}}</h3>
          <div class="mb-1 text-body-secondary">{{post.timestamp}}</div>
          <p class="card-text mb-auto">{{post.content | truncatechars:120}}</p>
          <strong class="my-1 text-body-secondary">Article by {{post.author}}</strong>
          <a href="/blog/{{post.slug}}" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue reading
            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
      </div>
  {% endfor %}
  </div>

{% endblock %}
